<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SmartMirror</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet">
    <script src="../static/skycons.js"></script>
  </head>
  <body>


    <div id="timeArea" style="float: right; margin-right: 10px;">
        <p id="time" style="font-size: 65px;"></p>
        <div style="float: right;">
          <p id="day" style="font-size: 40px;"></p>
          <p id="date" style="font-size: 34px;" align="right"></p>
        </div>
    </div>


    <div class="weatherArea">
      <p id="currentWeather"></p>

      <div id="forecastArea" style="margin-top: 28px; margin-bottom: 35px;">

      </div>
    </div>

    <div id="newsArea">
      
    </div>

    <script>
  function updateTime(){
  var time = new Date ( );

  var currentHours = time.getHours ( );
  var currentMinutes = time.getMinutes ( );

  // Pad the minutes and seconds with leading zeros, if required
  currentMinutes = ( currentMinutes < 10 ? "0" : "" ) + currentMinutes;
  // Choose either "AM" or "PM" as appropriate
  var timeOfDay = ( currentHours < 12 ) ? "AM" : "PM";
  // Convert the hours component to 12-hour format if needed
  currentHours = ( currentHours > 12 ) ? currentHours - 12 : currentHours;
  // Convert an hours component of "0" to "12"
  currentHours = ( currentHours == 0 ) ? 12 : currentHours;
  // Compose the string for display
  var currentTimeString = currentHours + ":" + currentMinutes + ' ' + timeOfDay;
  // Update the time display
  document.getElementById("time").innerHTML = currentTimeString;

}

function updateDate() {
  var date = new Date();

  months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
  days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];

  document.getElementById("day").innerHTML = days[date.getDay()];
  document.getElementById("date").innerHTML = months[date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear();
}


function loadWeather() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
          tempData = JSON.parse(this.responseText);
          displayWeather(tempData);
      }
    };
  xhttp.open("GET", "/weather", true);
  xhttp.send();
}

function displayWeather(currentInfo) {
        currentWeatherDiv = document.getElementById("currentWeather");
        forecastDiv = document.getElementById("forecastArea");
  
        //Set variables for Current Weather
        var currentTemp = parseInt(currentInfo[0].temp);
        var currentWeathericon = currentInfo[0].icon;
        var currentSummary = currentInfo[0].summary;
        var feelsLike = parseInt(currentInfo[0].feels_like);
        var todaysHighLow = '&uarr; ' + parseInt(currentInfo[1].todays_high) + '&#176; ' + ' | ' + ' &darr; ' + parseInt(currentInfo[1].todays_low) + '&#176; ';

        var skycons = new Skycons({"color": "white", "resizeClear": true})
        
        //Update Current Weather
        currentWeatherDiv.innerHTML = '<div><p id="currentTemp" style="display:inline-block; margin-bottom: 20px;">' + currentTemp + '&#176;<sup>F</sup></p>&nbsp;&nbsp; &nbsp;<canvas style="display:inline-block;" id="icon1" width="60" height="60"></canvas></div>';
        currentWeatherDiv.insertAdjacentHTML('beforeend', '<p id="currentSummary"> ' + currentSummary + '</p>');
        currentWeatherDiv.insertAdjacentHTML('beforeend', '<p id="feelsLike"> Feels like: ' + feelsLike + '&#176;</p>');
        currentWeatherDiv.insertAdjacentHTML('beforeend', '<p id="todaysHighLow">' + todaysHighLow + '</p>');

        // Add the Current Conditions icon
        skycons.add("icon1", currentWeathericon);
        

        //Set Variables for Forecast
        
        var tomorrowsWeather = [currentInfo[1].day1_day, currentInfo[1].day1_icon, currentInfo[1].day1_high, currentInfo[1].day1_low]
        var oneDayAfterWeather = [currentInfo[1].day2_day, currentInfo[1].day2_icon, currentInfo[1].day2_high, currentInfo[1].day2_low]
        var twoDayAfterWeather = [currentInfo[1].day3_day, currentInfo[1].day3_icon, currentInfo[1].day3_high, currentInfo[1].day3_low]
  
        //Update Forecast 
        forecastDiv.innerHTML = '<p>' + tomorrowsWeather[0] + '&nbsp; &nbsp;' + '<canvas style="display:inline-block;" id="icon2" width="40" height="40"></canvas>' + '&nbsp;&nbsp; &uarr; ' + tomorrowsWeather[2] + '&#176; ' + ' | ' + ' &darr; ' + tomorrowsWeather[3] + '&#176; </p>';
        forecastDiv.insertAdjacentHTML('beforeend', '<p>' + oneDayAfterWeather[0] + '&nbsp; &nbsp;' + '<canvas style="display:inline-block;" id="icon3" width="40" height="40"></canvas>' + '&nbsp;&nbsp; &uarr; ' + oneDayAfterWeather[2] + '&#176; ' + ' | ' + ' &darr; ' + oneDayAfterWeather[3] + '&#176; </p>');
        forecastDiv.insertAdjacentHTML('beforeend', '<p>' + twoDayAfterWeather[0] + '&nbsp; &nbsp;' + '<canvas style="display:inline-block;" id="icon4" width="40" height="40"></canvas>'  + '&nbsp;&nbsp; &uarr; ' + twoDayAfterWeather[2] + '&#176; ' + ' | ' + ' &darr; ' + twoDayAfterWeather[3] + '&#176; </p>');

        // Add forecast icons
        skycons.add("icon2", tomorrowsWeather[1]);
        skycons.add("icon3", oneDayAfterWeather[1]);
        skycons.add("icon4", twoDayAfterWeather[1]);
        skycons.play();

}

function loadNews() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
      var tempData = JSON.parse(this.responseText);
      displayNews(tempData);

      }
    };

  xhttp.open("GET", "/news", true);
  xhttp.send();
}

function displayNews(currentInfo) {
      newsDiv = document.getElementById("newsArea");
      newsDiv.innerHTML = '';

      for (var j = 0; j < 5; j++) {
        var currentNewsStory = [currentInfo[0].articles[j].title, currentInfo[0].articles[j].description];

        newsDiv.insertAdjacentHTML('beforeend', '<div><h2>' + (j + 1) + '. ' + currentNewsStory[0] + '</h2>' + '<p>' + currentNewsStory[1] + '</p></div>')
    }
}

updateTime();
updateDate();

setInterval(updateTime, 10000);
setInterval(updateDate, 600000);

loadWeather();
setInterval(loadWeather, 600000);

loadNews();
setInterval(loadNews, 900000);
    </script>
  </body>
</html>
